@dark: rgba(81, 130, 252, 1);
@bright: rgba(244, 86, 86, 1);
@dark-transparent: rgba(81, 130, 252, .2);
@bright-transparent: rgba(244, 86, 86, .2);

.selectable {
  cursor: pointer;
  box-sizing: content-box;
}
.selected {
  cursor: default;
}
.selected.draggable {
  cursor: grab;
}
.selected.draggable.dragging {
  cursor: grabbing;
}
.selectable {
  &[resize-y="top"] {
    cursor: n-resize;
  }
  &[resize-y="bottom"] {
    cursor: s-resize;
  }
  &[resize-x="right"] {
    cursor: e-resize;
    &[resize-y="top"] {
      cursor: ne-resize;
    }
    &[resize-y="bottom"] {
      cursor: se-resize;
    }
  }
  &[resize-x="left"] {
    cursor: w-resize;
    &[resize-y="top"] {
      cursor: nw-resize;
    }
    &[resize-y="bottom"] {
      cursor: sw-resize;
    }
  }
}
.selectable:hover {
  box-shadow: inset 1px 1px 1px @dark, inset -1px -1px 1px @dark,
    inset 1px 1px 1px @bright, inset -1px -1px 1px @bright;
}
.selected {
  box-shadow: inset 1px 1px 1px @bright, inset -1px -1px 1px @bright,
    inset 1px 1px 1px @dark, inset -1px -1px 1px @dark;
}
.position-marker {
  background-color: yellow;
  display: inline-block;
  border: 1px solid yellow;
  position: absolute;
  min-width: 1px;
  min-height: 1px;
}
.position-phantom {
  display: inline-block;
}

.region-marker {
  background-color: @dark-transparent;
  border: 1px solid @bright-transparent;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 1px;
  min-height: 1px;
}
