doctype html
html(lang="en")
  head
    title Stage demo
    link(rel="shortcut icon", href="../favicon.png")
    script(type='text/javascript', src='require.js')
    link(rel="stylesheet", href="css/demo.css")
  body
    .bg
    section
      iframe#iframe
      input#output(readonly)

    script(type='text/javascript')
      |   require(['js/demo'], function() {});
