doctype html
html(lang="en")
  head
    title Stage demo
    script(type='text/javascript')
      include ../../node_modules/requirejs/require.js
    link(rel="stylesheet", href="css/demo.css")
    script(type='text/javascript')
      |   require(['js/demo'], function() {console.log('Starting')});
  body
    section
      iframe#iframe
      // button.button-bar-element(onclick='addTemplate()') Add Random Content
      // button.button-bar-element(onclick='addText()') Add Text
      // button.button-bar-element(onclick='makeAbsolute()') Make Absolute
    script#random-content(type="text/template")
      include ./random-content.html
