doctype html
html(lang="en")
  head
    title Stage demo
    script(type='text/javascript', src='js/index.js')
    script(type='text/javascript').
      new Stage(document.body);
  body
    p.selectable.draggable.resizeable test me!