doctype html
html(lang="en")
  head
    title Stage demo
    script(type='text/javascript', src='js/demo.js')
    link(rel="stylesheet", href="css/demo.css")
  body
    section
      iframe#iframe
      button.button-bar-element(onclick='addTemplate()') Add Random Content
      button.button-bar-element(onclick='addText()') Add Text
      button.button-bar-element(onclick='makeAbsolute()') Make Absolute
    template#random-content
      include ./random-content.html
