doctype html
html(lang="en")
  head
    title Stage demo
    script(type='text/javascript')
      include ../../node_modules/requirejs/require.js
    link(rel="stylesheet", href="css/demo.css")
    script(type='text/javascript')
      |   require(['js/demo'], function() {});
  body
    .bg
    section
      iframe#iframe
      input#output(readonly)
    script#random-content(type="text/template")
      include ./random-content.html
